<%- include('bootheader') -%>
<%- include('menubar') -%>

<html>
  <head>
    <title>ABOUT LIANGLIANG</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>About Liang Zhuang</h1>
    <img width=“150" src="/images/Liang Zhuang.jpg">
    <br><br>
    <p>Liang Zhuang is a Brandeis undergrad student learning Applied Mathematics, Economics, and Computer Science. Liang was born in Ningbo, China, and he studied in the United States since 2015 for high school and college. He can speak English, Chinese, and a little bit Japanese.</p>
    <h2>Education</h2>
    <p>Bachelor of Science in Applied Mathematics, Economics, and Computer Science, 2022, <a href="http://www.brandeis.edu">Brandeis University</a></p>
    <h5>Spring 2021 Schedule</h5>
    <table class="table table-bordered table-striped">
      <thead>
        <tr><td>Time</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td></tr>
      </thead>
      <tbody>
        <tr><td>10AM-11:30AM</td><td>Math126</td><td>Cosi12</td><td>Math126</td><td>Cosi12</td><td>Cosi12 Recitation</td></tr>
        <tr><td>2PM-3:30PM</td><td>Cosi130</td><td>Math121</td><td>Cosi130</td><td>Math121</td><td></td></tr>
        <tr><td>8PM-9:30PM</td><td></td><td>Math36</td><td></td><td>Math36</td><td></td></tr>
      </tbody>
    </table>

    <h5>Summer 2021 Schedule</h5>
    <table class="table table-bordered table-striped">
      <thead>
        <tr><td>Time</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td></tr>
      </thead>
      <tbody>
        <tr><td>11:15AM-1:15PM</td><td>Cosi152</td><td>Cosi152</td><td>Cosi152</td><td>Cosi152</td><td></td></tr>
      </tbody>
    </table>

    <h5>Fall 2021 Schedule</h5>
    <table class="table table-bordered table-striped">
      <thead>
        <tr><td>Time</td><td>Mon</td><td>Tue</td><td>Wed</td><td>Thu</td><td>Fri</td></tr>
      </thead>
      <tbody>
        <tr><td>10AM-11:30AM</td><td></td><td>Cosi123</td><td></td><td>Cosi123</td><td>Cosi21 Recitation</td></tr>
        <tr><td>12PM-1:30PM</td><td>Cosi21</td><td></td><td>Cosi21</td><td></td><td></td></tr>
        <tr><td>2PM-3:30PM</td><td>Econ181</td><td>Chin130</td><td>Econ181</td><td>Chin130</td><td></td></tr>
        <tr><td>4PM-5:30PM</td><td>Cosi133</td><td></td><td>Cosi133</td><td></td><td></td></tr>
      </tbody>
    </table>

    <h2>Contact</h2>
    <ul>
      <li>Email: liangzhuang@brandeis.edu</li>
      <li>Address: Unit 207, 20 Cooper St</li>
      <li>Phone: +1 617-717-9291</li>
    </ul>

  </body>
</html>

<%- include('bootfooter') -%>
