<%- include('bootheader') -%>
<%- include('menubar') -%>

<body>
    <h1>About Heathstone Battlegrounds</h1>
    <p>This page includes the basic rules of Hearthstone Battlegrounds, recent Heroes Tier List(updated every month) and Video of the Day(updated everyday), </p>
    <img width="600" src="/images/logo.jpg">

    <h2>Game Rules</h2>
    <h5>General Rules</h5>
    <p>Hearthstone Battlegrounds has 60 bosses and 143 minions in total. Before each game, each player can select one of the four bosses provided, and each boss has its own hero power. The Tier List of the heroes is provided in the later section.</p>
    <p>There are 8 players in each game, and each player has 40 health(except Patchwerk, who has 55 health due to its hero power). Players end their game when their bosses have 0 or negative health, and the game is ranked based on the time they knock out.</p>
    <p>There are 2 phases for each round: Recruit Phase and Combat Phase.
    <h5>Recruit Phase</h5>
    <p>During recruit phase, each player has certain amount of coins (between 3 and 10), and players are allowed to:</p>
    <ul>
      <li> use 3 coins to recruit a minion from the Tavern</li>
      <li> get 1 coin by selling a minion</li>
      <li> use 1 coin to refresh all minions in the current Tavern</li>
      <li> freeze the Tavern and recruit minions in the next round
      <li> freely rearrange the minions owned</li>
      <li> automatically fuse 3 identical cards to a triple card and obtain a card from the Tavern Tier above(or from Tier 6 if players are at Tier 6)</li>
      <li> use a cerntain amount of coins to upgrade the Tavern (details listed below)<br>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Tavern Tier</th>
              <th>Cost(number of coins)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2</td>
              <td>5</td>
            </tr>
            <tr>
              <td>3</td>
              <td>7</td>
            </tr>
            <tr>
              <td>4</td>
              <td>8</td>
            </tr>
            <tr>
              <td>5</td>
              <td>9</td>
            </tr>
            <tr>
              <td>6</td>
              <td>10</td>
            </tr>

          </tbody>
        </table>
    </ul>
    <table class="table table-bordered table-striped">
      Coins distributed each round:
      <thead>
        <tr>
          <th>Round</th>
          <th>Coins</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>3</td>
        </tr>
        <tr>
          <td>2</td>
          <td>4</td>
        </tr>
        <tr>
          <td>3</td>
          <td>5</td>
        </tr>
        <tr>
          <td>4</td>
          <td>6</td>
        </tr>
        <tr>
          <td>5</td>
          <td>7</td>
        </tr>
        <tr>
          <td>6</td>
          <td>8</td>
        </tr>
        <tr>
          <td>7</td>
          <td>9</td>
        </tr>
        <tr>
          <td>>=8</td>
          <td>10</td>
        </tr>
      </tbody>
    </table>
    <h5>Combat Phase</h5>
    <p>In the Combat Phase, each player enters combat with another player, facing off against their board. At the end of combad, the player with surviving minions deals damage to their opponents. The damage is the Tavern tier + the combined tiers of all surviving minions.

    <p>For more details, please visit <a href="https://playhearthstone.com/en-us/news/23156373">HearthStone Batteground Official Rules.</a></p>

    <h2>Heroes and Minions</h2>
    <p>Currently, there are 60 heroes and 143 minions.</p>
    <a href="https://playhearthstone.com/en-us/battlegrounds">Please use this link for more information.</a></p>

    <h2>Heroes Tier List (Updated May 2021)</h2>
    <h5>May 2021 Information</h5>
    <h6>Hero of the Month</h6>
    <img width="200" src="/images/C Thun.png">
    <br>
    <br>

    <div class="row">
      <div class="col">
        <h6>Tier 1 - The Very Best Heroes</h6>
        <ul>
          <li>C’Thun</li>
          <li>Maiev Shadowsong</li>
          <li>Captain Hooktusk</li>
          <li>Forest Warden Omu</li>
          <li>The Great Akazamzarak</li>
          <li>George the Fallen</li>
          <li>Arch-Villain Rafaam</li>
          <li>Millhouse Manastorm</li>
          <li>Al’Akir the Windlord</li>
          <li>Death Speaker Blackthorn</li>
          <li>Jandice Barov</li>
          <li>Ragnaros the Firelord</li>
          <li>The Lich King</li>
        </ul>
      </div>
      <div class="col">
        <h6>Tier 2 - Generally Strong Heroes</h6>
        <ul>
          <li>Zephrys, the Great</li>
          <li>Queen Wagtoggle/li>
          <li>Xyrella</li>
          <li>Silas Darkmoon</li>
          <li>Reno Jackson</li>
          <li>Vol’jin</li>
          <li>Patches the Pirate</li>
          <li>Sir Finley Mrrgglton</li>
          <li>Nozdormu</li>
          <li>Tickatus</li>
          <li>Lord Barov</li>
          <li>Greybough</li>
          <li>Rakanishu</li>
          <li>Tess Greymane</li>
          <li>Kael’thas Sunstrider</li>
          <li>Yogg-Saron, Hope’s End</li>
          <li>Infinite Toki</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h6>Tier 3 - Heroes With Some Strengths</h6>
        <ul>
          <li>Overlord Saurfang</li>
          <li>Skycap’n Kragg</li>
          <li>Millificent Manastorm</li>
          <li>Mr. Bigglesworth</li>
          <li>Captain Eudora</li>
          <li>Patchwerk</li>
          <li>Y’Shaarj</li>
          <li>King Mukla</li>
          <li>Alexstrasza</li>
          <li>Ysera</li>
          <li>Deathwing</li>
          <li>A. F. Kay</li>
          <li>Dancin’ Deryl</li>
          <li>Aranna Starseeker</li>
          <li>N’Zoth</li>
          <li>Elise Starseeker</li>
          <li>The Curator</li>
        </ul>
      </div>
      <div class="col">
        <h6>Tier 4 - The Weakest heroes</h6>
        <ul>
          <li>Sindragosa</li>
          <li>Malygos</li>
          <li>The Rat King</li>
          <li>Lord Jaraxxus</li>
          <li>Edwin VanCleef</li>
          <li>Lich Baz’hial</li>
          <li>Chenvaala</li>
          <li>Pyramad</li>
          <li>Fungalmancer Flurgl</li>
          <li>Dinotamer Brann</li>
          <li>Illidan Stormrage</li>
          <li>Shudderwock</li>
        </ul>
      </div>
    </div>

    <h2>Video of the Day</h2>
    <h6>June 2021</h6>
    <ul>
      <li>
        <a href="https://www.youtube.com/watch?v=ncTOTDGVBHU">June 6th</a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=kvTJ6PwZJz0">June 5th</a>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=_3Ph-yI_iGc">June 4th</a>
      </li>
    </ul>

    <h2>Hearthstone Survey</h2>
    <form method="post" action="/showformdata" class="bg-info">
      Enter your name:
      <input type="text"
             name="fullname"
             placeholder="your full name"><br>
      Your email address:
      <input type="text"
             name="emailaddress"
             placeholder="your email address"><br>
      Date of birth:
      <input type="date"
             name="birthday"><br>
      Favorite color:
      <input type="color"
             name="favoriteColor"> <br>

      Select your job status
      <select name="occupation">
        <option>middle school student</option>
        <option>high school student</option>
        <option>college student</option>
        <option>MS/PhD student</option>
        <option>employed</option>
        <option>unemployed</option>
      </select>

      <br>
      Tell us about yourself:
      <br>
      <textarea name="bio" rows="10" cols="40"></textarea>
      <br>
      Do you play hearthstone?<br>
      yes <input type="radio" name="hearthstone" value="yes"><br>
      no  <input type="radio" name="hearthstone" value="no"><br>
      don't want to say
          <input type="radio" name="hearthstone" value="maybe"><br>

      <br>
      What sections do you like:<br>
      Game Rules <input type="checkbox" name="like" value="rules"><br>
      Heroes and Minions  <input type="checkbox" name="like" value="herosminions"><br>
      Heroes Tier List <input type="checkbox" name="like" value="tierlist"><br>
      Video of the Day
              <input type="checkbox" name="like" value="video"><br>
      Survey :)
              <input type="checkbox" name="like" value="survey"><br>
      <br>
      Please provide your feedback(what can be improved? what other information would you like to see?):
      <br>
      <textarea name="feedback" rows="10" cols="40"></textarea>
      <br>

      <input type="submit" value="Provide Feedback!">
    </form>
</body>

<%- include('bootfooter') -%>
