<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Liang's Hearthstone Information Center</h1>
        <img width="600" src="/images/logo.jpg">
        <p>This webpage provides basic information about Hearthstone's battlegrounds, including heroes' rankings, game skills, and game versions</p>
    </div>



<%- include('bootfooter') -%>
